.button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: var(--primary-color);
    color: var(--invert-text-color);
    border-radius: 12px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-color-dark);
}

.button:focus {
    background-color: var(--primary-color-dark);
}

.button:active {
    background-color: var(--primary-color-darkest);
}