.tile-container {
    display: flex;
    flex-wrap: wrap;
}

.tile-container > * {
  margin: 20px 36px;
}

.tile-container .fav-tile-wrapper {
    display: flex;
    position: relative;
}

.tile-container .fav-tile-wrapper .tile-overlay {
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    background-color: var(--background-color-black-400);
    border-radius: 8px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tile-container .fav-tile-wrapper .tile-overlay:hover {
   opacity: 1;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-icon {
    cursor: pointer;
    color: var(--color-error);
}

.btn-icon:hover {
    color: var(--color-error-light);
}