.top-row {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: end;
}

.tile-container {
        display: flex;
        flex-wrap: wrap;
}

.tile-container > * {
      margin: 20px 3%;
}

.loading-container {
        display: flex;
        align-items: center;
        justify-content: center;
}

.btn-icon {
        margin-right: 8px;
    }