.tile {
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 8px;
    cursor: pointer;
}

.tile img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 8px;
}