.tile {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.tile img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 8px;
}

.tile img:hover {
    outline: 4px solid var(--background-color-black-600);
 }

 .tile img:focus {
    outline: 4px solid var(--background-color-black-600);
 }