.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header .title{
    margin: 0;
}

.loading-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    display: flex;
    height: 600px;
}

.body .col1 {
    width: 55%;
    height: 100%;
    background: red;
    border-radius: 14px 0 0 14px;   
    background-color: var(--background-color-black);
}

.body .col1 img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 14px 0 0 14px;   
}

.body .col2 {
    width: 43%;
    padding: 2rem;
}

.body .col2 .breed-info-container {
    height: 80%;
    display: flex;
    overflow-y: auto;
}

.body .col2 .no-details-container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body .col2 .footer {
    height: 20%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.body .col2 .footer > * {
    margin-left: 8px;
}

.btn-icon {
    margin-right: 8px;
}