.container {
    padding: 56px 40px;
    position: relative;
}

.suspense-fallback-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.suspense-badge-icon {
    color: var(--primary-color);
}