h2 {
    font-weight: 500;
    font-size: 22px;
}
p {
    margin-top: 32px;
}

.text {
    text-align: center;
}

.text a {
    text-decoration: none;
    color: var(--primary-color);
}

.text a:active {
    opacity: 0.6;
}